@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 20px;
  }
  .section__item {
    margin-bottom: 15px;
  }
}
/*Tablet*/
@media screen and (max-width: 767px) {
    .section__imposter {
    display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-left: none;
      border-right: none;
    }
    .section__title {
      font-size: 23px;
    }
    .section__plus {
      display: none;
    }
    .section__list {
      display: block;
    }
    .section__item {
      width: 300px;
      height: 280px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    .section__backgraund {
      margin: 0;
    }
    .header__title {
      display: none;
    }
    .header {
      height: 200px;
    }
    .header__strip {
    display: block;
    background-color: rgb(54 119 188);
    width: 100%;
    height: 45px;
    }
    .section__img {
      width: 275px;
      height: 223px;
    }
    .section-title__title {
      margin-top: 10px;
      font-size: 16px;
    }
    .section__title {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__list-index {
      display: block;
      gap: 5px 10px;
    }
    .footer__item {
      margin-right: 0;
    }
     .footer__title {
      display: none;
    }
    .footer__ortodox {
      font-size: 12px;
    }
    .footer__text {
    font-size: 11px;
    }
    .footer__social {
      width: 35px;
      height: 35px;
    }
    .footer__social-logo {
      width: 25px;
      height: 25px;
    }
  }

  @media  screen and (max-width: 484px) {
    .section__img {
      width: 235px;
      height: 183px;
    }
    .section__item {
      width: 240px;
      height: 242px;
      margin-bottom: 10px;
    }
    .section-title__title {
      margin-top: 10px;
      font-size: 14px;
    }
    .section__title {
      font-size: 17px;
    }
  }

/*BURGER-MENU*/

@media screen and (max-width: 767.5px) {
    .mobile-menu-thumb{
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

    transition: opacity $transition-settings, visibility $transition-settings;

    &.is-open {
      display: flex;
      position: fixed;
      opacity: 1;
      visibility: visible;
      pointer-events: fill;
      width: 100%;
      height: 100vh;

      overflow-y: scroll;

      padding: 48px 40px;
      margin-left: auto;
      margin-right: auto;
      z-index: 900;

      flex-direction: column;
     flex-grow: 2;
      font-weight: 500;
      letter-spacing: 0.02em;
      background-color: $primary-background-color;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }
}


/*Menu-BTN*/
.menu-btn {
  display: none;
}
  @media screen and (max-width: 767.5px) {
    .menu-btn {
    z-index: 991;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

@media screen and (max-width: 767.5px) {
  .menu-btn.icon-cross {
    display: none;
  }
  .menu-btn.icon-menu{
    display: block;
    color: white;
  }
  .menu-btn.is-open.icon-cross {
    display: block;
    color: white;
  }
  .menu-btn.is-open .icon-menu {
    display: none;
  }
}


/*MENU__LIST*/
.menu__list {
    @media screen and (max-width: 1199px) {
        display: block;
        padding: 0;
        margin: 0;
        width: 254px;
        .site-nav-list__item {
          border-top: 1px solid #E18298;
          border-bottom: 1px solid #E18298;
          padding-left: 20px;
          padding-top: 12px;
          height: 42px;
          margin-right: 0;
        }
      }
      @media screen and (max-width: 768px) {
        display: block;
        padding: 0;
        margin: 0;
        width: 254px;
        .menu__item {
          border-top: 1px solid #E18298;
          border-bottom: 1px solid #E18298;
          padding-left: 20px;
          padding-top: 12px;
          height: 42px;
          margin-right: 0;
        }
      }
      @media screen and (max-width: 320px) {
        display: block;
        padding: 0;
        margin: 0;
        width: 250px;
        .menu__item {
          border-top: 1px solid #E18298;
          border-bottom: 1px solid #E18298;
          padding-left: 20px;
          padding-top: 12px;
          height: 42px;
          margin-right: 0;
        }
      }
}