@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 20px;
  }
  .section__item {
    margin-bottom: 15px;
  }
}
/*Tablet*/
@media screen and (max-width: 767px) {
    .section__imposter {
    display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-left: none;
      border-right: none;
    }
    .section__title {
      font-size: 23px;
    }
    .section__plus {
      display: none;
    }
    .section__list {
      display: block;
    }
    .section__item {
      width: 300px;
      height: 280px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    .section__backgraund {
      margin: 0;
    }
    .header__title {
      display: none;
    }
    .header {
      height: 200px;
    }
    .section__img {
      width: 275px;
      height: 223px;
    }
    .section-title__title {
      margin-top: 10px;
      font-size: 16px;
    }
    .section__title {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__list-index {
      display: block;
      gap: 5px 10px;
    }
    .footer__item {
      margin-right: 0;
    }
     .footer__title {
      display: none;
    }
    .footer__ortodox {
      font-size: 12px;
    }
    .footer__text {
    font-size: 11px;
    }
    .footer__social {
      width: 35px;
      height: 35px;
    }
    .footer__social-logo {
      width: 25px;
      height: 25px;
    }
  }

  @media  screen and (max-width: 484px) {
    .section__img {
      width: 235px;
      height: 183px;
    }
    .section__item {
      width: 240px;
      height: 242px;
      margin-bottom: 10px;
    }
    .section-title__title {
      margin-top: 10px;
      font-size: 14px;
    }
    .section__title {
      font-size: 17px;
    }
  }

/*BURGER-MENU*/

/*Menu-BTN*/
.header__burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 4;
    width: 30px;
    height: 20px;
    top: 35px;
    left: -10px;
    margin-left: auto;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 9px;
  }
  .main__nav {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 119, 188, 0.8);
    z-index: 2;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    margin-top: 20px;

  }
  .header__strip {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 3;
    background-color: rgba(54, 119, 188);
  }
}
